.homepage1{
    width: 25%;
    height: 200px;
    text-align: center;
    float: left;
}
.homepage11{
    position: absolute;
    right: 20%;
    

}


.homepage21{
    width: 100%;
        height: 50px;
        font-size: 30px;
        color: rgb(84, 125, 238);
        text-align: center;


}
.homepage3{
    float: left;
}

.homepageone{
        width: 100%;
        height: 700px;
        font-size: 40px;
        color: rgb(243, 64, 64);
        text-align: center;
        background: url('./../pictrue/1.jpg') no-repeat;
        background-size: 100%;
        
}