.imformation{
  
   

}
.imformation1{
    height: 600px;
    width: 258px;
    float: left;
}
.imformation2{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 25%;
    
    
}   
.imformation21{
    position: absolute;
    left: 17%;
    border: 2px solid black;
    width: 800px;
    height: 287px;
}

.imformation22{
    position: absolute;
    left: 17%;
    top: 39%;
    border: 2px solid black;
    width: 800px;
    height: 287px;
}

.imformation23{
   border: 1px solid black;
    font-size: 20px;
    background-color: rgb(218, 215, 202);
}
