
.imformation1{
    height: 600px;
    width: 258px;
    position: absolute;
    top: 1%;
    left: 2%;
}
.imformation{
    
   width: 800px;
   height: 800px;
    
}   
.imformation21{
    position: absolute;
    left: 17%;
    border: 2px solid black;
    width: 800px;
    height: 287px;
}

.imformation22{
    position: absolute;
    left: 17%;
    top: 39%;
    border: 2px solid black;
    width: 800px;
    height: 287px;
}

.imformation23{
   border: 1px solid black;
    font-size: 20px;
    background-color: rgb(218, 215, 202);
}

.imformation24{
    position: absolute;
    left: 21%;
 
    width: 600px;
    height: 500px;
    font-size: 20px;
    
}
.imformation25{
    position: absolute;
    top: 1%;
    right: 5%;
    width: 450px;
 

}
.imformation26{
    position: absolute;
    top: 46%;
    right: 12%;
    width: 350px;
 

}